<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

{{#each comments as |comment|}}
  <p>{{comment.comments}}</p>
  {{/each}}
  <p>
    <button class='btn btn-dark'>
      Comment on this blog!
    </button>
</div>
