<div class="text-center">
  <div id="blog" data-id="{{id}}">
    <div class="card mx-auto" style="width: 60rem;">
      <div class="card-body">
        <h5
          class="card-title badge bg-secondary text-wrap fs-3"
        >{{post_title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Created by
          {{user.name}}
          on
          {{format_date date_created}}</h6>
        <p class="card-text">{{contents}}</p>
      </div>
    </div>
  </div>

  {{#if logged_in}}
    <div class="form-group mx-auto p-2" style="width: 30rem;">
      <div class="form-floating">
        <input type="hidden" id="comment-input" data-id="{{blog.id}}" />
        <textarea
          class="form-control"
          placeholder="Leave a comment here..."
          id="comment"
        ></textarea>
        <label for="comment">Leave a comment here...</label>
      </div>
      <div class="form-group m-2 p-2">
        <button
          id="comment-submit-button"
          type="button"
          class="btn btn-dark"
        >Comment on this blog!</button>
      </div>

    </div>

  {{else}}
    <p class="fs-4 fw-bold">Log in to add a comment!</p>
  {{/if}}

</div>

<div>

  {{#each comments as |comment|}}
    <div class="card mx-auto m-2 p-2">
      <h5 class="card-header">{{comment.user.name}}
        on
        {{format_date date_created}}</h5>

      <div>
        <h5 class="card-title"></h5>

        {{!-- <div>
          <button
            class="btn btn-sm btn-warning edt-comment-btn"
            data-id="{{blog.id}}"
          >EDIT</button>
          <button
            class="btn btn-sm btn-danger del-comment-btn"
            data-id="{{blog.id}}"
          >DELETE</button>
        </div> --}}

      </div>

      <div class="card-body">
        <h5 class="card-title">{{comment.comments}}</h5>

      </div>
    </div>
  {{/each}}

</div>

<script src="/js/comments.js"></script>