<div class="d-flex align-items-start mb-3">
  <div class="m-3 p-3">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{>blog-form}}



  {{#if blogs.length}}
    <div class="blog-list card d-flex">
    <div>
  <h5 class="card-header">Current Blogs:</h5>

      {{#each blogs as |blog|}}
       <div class="card-body" >
    <h5 class="card-title"></h5>
            <a href="/blog/{{blog.id}}"><h4 >{{blog.post_title}}</h4></a>
                        <div>
                        <button
              class="btn btn-sm btn-warning edit-btn"
              data-id="{{blog.id}}"
            >EDIT</button>
                       <button
              class="btn btn-sm btn-danger delete-btn"
              data-id="{{blog.id}}"
            >DELETE</button>
            </div>
  </div>
   
      {{/each}}
    </div>
  {{/if}}
</div>
<script src="/js/dashboard.js"></script>
<script src="/js/comments.js"></script>